html{
    background-color:#cbd5e1;
    height: 100%;
    

}
.top{
    display: grid;
    align-content: space-around;
}
#sidelogo{
    margin-bottom: 30px;
    padding-right: 60px;
    font-size: 25px;
    display: grid;
    justify-self: end;
    align-items: center;
}
#mainlogo{
    width: 40px;
}
.firstdiv{
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}
.one{
    display: grid;
    justify-content: start;
}
.two{
   margin-top: 30px; 
   
}
.seconddiv{
    display: grid;
    
    grid-template-columns: 1fr 2fr;
    
    
}
.leftside{
    display: grid;
    grid-area: 1/2/1/3;
    font-size: 20px;
    
    
}
body{
    height: 100%;
    margin: 0;
}
.container{   
    height: 100%;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-columns: 1fr 5fr ;

}
.dashboard{
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 10px;/* perhaps perhaps not*/
    background-color: lightblue;
}
.main-content{
   display: grid;
   grid-template-rows: 1fr 4fr;
   

}
.top{
    padding: 10px;
    background-color: white;

    
    
}
.button{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(16, 140, 223);
    border-radius: 20px;
    color:white;
    width: 90%;
    height: 80%;    
}
.sidebarimages,#search{
    width: 25px;
}
#cartooncatcenter{
    display: grid;
    justify-content: end;

}
#cartoon-cat{
    width: 50px;

}
#name{
    display: grid;
    align-items: center; 
}

.firsttop{
     display: grid;
     grid-template-columns: 1fr 1fr 5fr 1fr 2fr;/*1fr 1fr 3fr 1fr 1fr*/

}
.searchbar{
    display: grid;
    background-color: rgb(187, 187, 187);
    border-radius: 25px;
    width: 700px;
}
.accountdetails{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    align-items: center;

}
#greeting{
    font-size: 12px;
}
#search{
    display: grid;
}
.moveitemleft{
    display: grid;
    justify-content: end;
    align-items: stretch;
}
.bottom{
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr ;

    
}
.lefthalf{
    display: grid;
     grid-area:1/1/4/3;
     grid-template-rows: 1fr 12fr;

}
.righthalf{
    display: grid;
    grid-area: 1/3/4/3;   
     
}
.rightoutershell{
    display: grid;
    
}
.trends{
    display: grid;
    grid-template-rows: 1fr 4fr;
    
}
.trending{
    display: grid;

}

#trend{
    display: grid;
    align-items: end;
}
.minicard{
    display: grid;
    border-radius: 10px;
    background-color: white;
    
}
.announcements{
    
    display: grid;
    background-color: white;
    border-radius: 10px;
}
.annoucenmenttext{
    font-size: 14px;
}

#top{
    display: grid;
    align-items: center;
    padding-left: 10px;
    
    
}
.six-card{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    
    
}
.card{
    background-color: white;
    padding: 17px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 3fr;

}
.threeicons{

    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    justify-items: end;

}

