html{
    background-color: gray;
    height: 100%;
    

}
#sidelogo{
    margin-bottom: 30px;
    font-size: 25px;
    display: grid;
    justify-self: end;
    align-items: center;
}
#mainlogo{
    width: 40px;
}
.firstdiv{
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}
.two{
   margin-top: 30px; 
}
.seconddiv{
    display: grid;
    grid-template-columns: 1fr 2fr;
    
    
}
.leftside{
    display: grid;
    grid-area: 1/2/1/3;
    font-size: 20px;
    
    
}
body{
    height: 100%;
    margin: 0;
}
.container{   
    height: 100%;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-columns: 1fr 5fr ;

}
.dashboard{
    padding: 10px;/* perhaps perhaps not*/
    background-color: lightblue;
    
}
.main-content{
   display: grid;
   grid-template-rows: 1fr 4fr;
   

}
.top{
    padding: 10px;
    background-color: white;

    
    
}
.button{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(16, 140, 223);
    border-radius: 20px;
    color:white;
    width: 90%;
    height: 80%;
    
    
}
.sidebarimages,#search{
    width: 25px;
}
#cartoon-cat{
    width: 50px;
}

.firsttop{
     display: grid;
     grid-template-columns: 1fr 1fr 3fr 2fr 2fr;/*1fr 1fr 3fr 1fr 1fr*/


}
.searchbar{
    display: grid;
    background-color: rgb(187, 187, 187);
    border-radius: 25px;
    width: 700px;
}
.accountdetails{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;

}
#greeting{
    font-size: 12px;
}
#search{
    display: grid;
}
.moveitemleft{
    display: grid;
    justify-content: end;
    align-items: stretch;
}
.bottom{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr ;

    
}
.lefthalf{
    display: grid;
     grid-area:1/1/4/3;
     grid-template-rows: 1fr 12fr;

}
.righthalf{
    display: grid;
    grid-area: 1/3/4/3;
    
    
}
#top{
    display: grid;
    align-items: end;
    padding-left: 10px;
    
}
.six-card{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    
    
}
.card{
    background-color: white;
    border-radius: 10px;

}
